@import "../../styles/base.scss";

.login-form__form {
  display: flex;
  flex-direction: column;
  border: $border-width solid $black;
  border-radius: $border-radius;
  padding: 50px;
  max-width: 500px;
}

.login-form__legend {
  @include title-text;
}

.login-form__label {
  @include label-text;
  margin-bottom: 5px;
}

.login-form__input {
  font-size: 20px;
  padding: 10px;
  max-width: 200px;
  margin-bottom: 20px;
  border: $border-width solid $black;
  border-radius: $border-radius;
}

.login-form__submit {
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  border-radius: 30px;
  background: transparent;
  transition: all 0.3s;
  border: solid $border-width $black;
}

.login-form__submit:hover,
.login-form__submit:focus {
  background: $black;
  color: $white;
  cursor: pointer;
}
