@mixin bare-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  & > li {
    margin: 0;
  }
}

@mixin bare-button {
  background: transparent;
  cursor: pointer;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  border: 0;
  appearance: none;
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}
